
<div class="flex-row">
        <div>
            <div class="title">{{state_name}} </div>
            <div class="header-row">
                <input type="text" [(ngModel)]="term" placeholder="Search region ..">
            </div>
            <div class="box">
                <div *ngFor="let constituency of constituencies">
                    <a ><div> {{constituency.name}} </div></a>
                </div>
            </div>
        </div>
    </div>


<!-- (click)="getElectorialResult(constituency)"-->
