<div class="flex-row">
  <div class="second">
    <div class="title">{{federalState_name}} </div>
    <div class="header-row">
      <input (change)="onInputChange($event)" type="text" [(ngModel)]="term" placeholder="Search region ..">
    </div>
    <div class="box">
      <div *ngFor="let constituency of constituencies">
        <a (click)="getResult(constituency)">
          <div> {{constituency.name}} </div>
        </a>
      </div>
    </div>
  </div>
  <div class="second">
    <div *ngIf="results">
      <div class="title">{{constituencyName}}</div>
      <app-election-list [electionList]="results"> </app-election-list>
    </div>
  </div>
</div>
<div *ngIf="results">
  <app-election-graph [results]="results"> </app-election-graph>
</div>


<!-- (click)="getElectorialResult(constituency)"-->

<!--  <election-list [electionList]="electionPartyResults"> </election-list>
-->
