<div class="chart-container">
 <div class="chart">
     <div>
  <div class="title">Erststimmen </div>
  <canvas baseChart
              [data]="doughnutChartFirstVote"
              [labels]="doughnutFirstPartyLabels"
              [chartType]="doughnutChartType"></canvas>
     </div>
</div>
<div class="chart">
    <div>
    <div class="title">Zweitstimmen </div>
  <canvas baseChart
              [data]="doughnutChartSecondVote"
              [labels]="doughnutSecondPartyLabels"
              [chartType]="doughnutChartType"></canvas>
    </div>
</div>
  </div>
